p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.note {
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom:1.5em;
  position: relative;
  background-color: #F4ECF780;
  border-bottom: 1px solid #5B2C6F;
  border-top: 1px solid #5B2C6F;
  border-radius: 10px;
}

.note:before {
   content: 'Note';
   font-size: 20px;
   font-weight:bold;
}


/*Changing R code styling*/

/*Changing inline code*/

.book .book-body .page-wrapper .page-inner section.normal code {
  background-color: #eaeff0;
  font-family: Monospace;
}

/*Changing code chunk*/

.book .book-body .page-wrapper .page-inner section.normal pre {
  background-color:white;
  border:1px solid black;
  font-family: Monospace;
}

/*end of R code styling*/

/*styling header*/

h1, h2, h3{
  color:#FFA500;
}


h1, h2{
  border-bottom: 3px solid #FFA500;
  border-top: 3px solid #FFA500;
}
